.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 5vw 0 5vw;
  color: white;
  background-color: hsla(0, 0%, 89%, 1);

  /* background: radial-gradient(
    circle,
    rgba(11, 11, 11, 0.959) 20%,
    rgb(28, 27, 27) 100%
  ); */
  background-color: black;
}

.heroTop,
.heroBottom {
  min-height: 50vh;
  padding-top: 100px;
}
.heroTop {
  /* padding: 50px 0; */
}
.heroTop p {
  font-weight: 900;
  letter-spacing: 2;
  font-size: 7rem;
  color: white;
  /* color: var(--main-blue); */
}
.heroTop p span{
  font-weight: 900;
  letter-spacing: 2;
  font-size: 7rem;
  color: white;
  color: var(--main-orange);
}
.heroBottom {
  display: flex;
  align-items: flex-start;
}
.heroBottomLeft {
  gap: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.heroBottomLeft p {
  font-size: 28px;
  color: white;
  /* color: black; */
}
.heroBottomLeft button {
  all: unset;
  cursor: pointer;
  color: white; 
  background-color: var(--main-orange);
  color: white;
  border-radius: 50px;
  font-size: 24px;
  padding: 20px 50px;
  width: fit-content;
}
.heroBottomRight {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  .heroTop p, .heroTop p span{
    font-size: 5rem;
  }
}